<a-scene>
    <a-assets>
        <a-asset-item id="heartd" src="../img/heart.dae"></a-asset-item>
        <img id="fall" src="../img/fall.png">
        <img id="goggles" src="../img/goggles.png">
        <img id="mozvr" src="../img/mozvr.png">
        <img id="matchs" src="../img/match.png">
        <img id="shadow2" src="../img/radial-shadow-2.png">
        <img id="heart" src="../img/heart.png">

    </a-assets>
    <a-entity id="model" position="0 1 -2">
        <a-animation attribute="rotation" from="0 -2 0" to="0 360 0" dur="5000" easing="linear" repeat="indefinite"></a-animation>
        <a-collada-model position="-0.55 0 .55" rotation="0 0 0" scale=".2 .2 .2" src="#heartd"></a-collada-model>
    </a-entity>

    <a-curvedimage id="matchs" src="#matchs" radius="5.7" theta-length="70" height="3" position="0 5 -3" opacity="0.5">
        <a-animation attribute="rotation" from="0 -215 0" to="0 -360 0" delay="3000" dur="2000"></a-animation>
        <a-animation attribute="rotation" from="0 10 0" to="0 -215 0" delay="500" dur="2000"></a-animation>
    </a-curvedimage>


    <a-entity>
        <a-cylinder position="0 0.5 0" radius="4" height="1.6" side="back" open-ended="true" color="#FFF"></a-cylinder>
    </a-entity>

    <a-entity position="0 0.0 0">
        <a-camera>
            <a-cursor color="#4CC3D9"></a-cursor>
            <a-camera>
    </a-entity>



    <a-sky color="#ECECEC"></a-sky>
    <a-light type="directional" color="#fff" intensity="0.2" position="-1 2 1"></a-light>
    <a-light type="ambient" color="#fff"></a-light>

</a-scene>
