<nav class="navbar navbar-primary" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
    		</button>
            <a class="navbar-brand" ui-sref="user.home">RealU</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="user.home" ng-show="auth.isAuthenticated()">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="user.search" ng-show="auth.isAuthenticated()">Search</a></li>
                <li ui-sref-active="active"><a ui-sref="user.matchs" ng-show="auth.isAuthenticated()">Matchs</a></li>
                <li ui-sref-active="active"><a ui-sref="user.profile" ng-show="auth.isAuthenticated()">Profile</a></li>
                <li ui-sref-active="active"><a ui-sref="user.chat" ng-show="auth.isAuthenticated()">Chat</a></li>
            </ul>
        </div>
    </div>
</nav>
